* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Arial;
    padding: 0px;
}

/* Centrar web */
.main {
    max-width: 1000px;
    margin: auto;
    padding: 0px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Agregue relleno ENTRE cada columna */
.row,
.row > .column {
    padding: 8px;
}

/* Crea cuatro columnas iguales que floten una al lado de la otra. */
.column {
    float: left;
    width: 25%;
}

/* Limpiar floats despues de filas */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Contenido */
.content {
    background-color: white;
    padding:25px;
}

/* Diseno responsivo */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
  }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
  }
}
 
.frase{
    text-align:center;
}

