footer{
    background-color: #385978;
    color:white;
    width:100%;
    height:35px;
    
    font-family:Arial;
    font-weight:bold;
    
    text-align:center;
    vertical-align: middle;
    /*Darle la misma que mi height*/
    line-height: 35px;
} 

header{
    background-color: #385978;
    width:100%;
    height:80px;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: right;
    
    /*Centrar vertical y horizontalmente el div*/
    position: relative;
    transform: translateY(-70%);
}

.logo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: left;
    margin-left:40px;
    
    /*Centrar vertical y horizontalmente el div*/
    position: relative;
    transform: translateY(-20px);
}

.ventana1{
    background-color: #406384;
    width:10%;
    height:40px;
    margin:5px;
    
    color:white;
    font-family:Arial;
    font-weight:bold;
    
    text-align:center;
    vertical-align: middle;
    /*Darle la misma que mi height*/
    line-height: 40px;
}

.enlace{
    color:white;
    text-decoration: none;
}

.outter{
    margin-right:40px;
}

.inner{
    width:20%;
    background-color: #385978;
    /*Centrar vertical y horizontalmente el div*/
    position: relative;
    transform: translateY(35px);
}

.ventana1:hover {
    background-color: #6f4695;
}
