footer{
    background-color: #385978;
    color:white;
    width:100%;
    height:40px;
    
    font-family:Arial;
    font-weight:bold;
    
    text-align:center;
    vertical-align: middle;
    /*Darle la misma que mi height*/
    line-height: 40px;
} 
