<!doctype html>
<html lang="en">
    <head>
        <title>HOME</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./main.css">
    </head>
    
    <header>
        <div class="logo">
            <div class="ventana1 inner">CARLOS BUSTILLO</div>
        </div>
        <nav>
            <div class="ventana1">Home</div>
            <div class="ventana1">Eventos</div>
            <div class="ventana1">Resumen</div>
            <div class="ventana1 outter">Proyectos</div>
        </nav>
    </header>
    
    <body></body>
    
    <footer>Copyright © 2020 Carlos Bustillo. Todos los derechos reservados.</footer>
    
</html>
