<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../resources/logo.ico" />
        <title>PROYECTOS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/proyectos.css">
    
    </head>
    
    <header>    
        <!--Logo-->
        <nav class="logo">
            <div class="ventana1 inner">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">CARLOS BUSTILLO</a>
            </div>
            <div class="logoImage">
                 <img src="../resources/logoPrincipal.png" alt="logo" width="160px" height="80px"> 
            </div>
        </nav>
        
        <!--Ventanas-->
        <nav>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">Home</a> 
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_eventos.html" target="_self">Eventos</a>
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_resumen.html" target="_self">Resumen</a>
            </div>
            <div class="ventana1 outter">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_proyectos.html" target="_self">Proyectos</a>
            </div>
        </nav>
    </header>
    
    <!--Barra de contacto-->
    <address>
        <div class="barraContacto">
            <div class="socialNetwork"><a class= "enlace" href="mailto:cabustillo13" target="_blank" style="text-decoration:none; color:white">MAIL</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://www.linkedin.com/in/carlos-bustillo-74514b1b6/" target="_blank" style="text-decoration:none; color:white">LINKEDIN</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://github.com/cabustillo13" target="_blank" style="text-decoration:none; color:white">GITHUB</a></div>
        </div>
        <div class="barraContacto">
            <div class="socialNetwork"><a class= "enlace" href="https://medium.com/@carlosbustillo" target="_blank" style="text-decoration:none; color:white">MEDIUM</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://auth.geeksforgeeks.org/user/cabustillo13/articles" target="_blank" style="text-decoration:none; color:white">GEEK FOR GEEKS</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://www.lawebdelprogramador.com/codigo/usuario.php?id=358427" target="_blank" style="text-decoration:none; color:white">LA WEB DEL PROGRAMADOR</a></div>
        </div>
    </address>
    
    <!--Presentacion de proyectos-->
    <div class="main">

        <h4>Algunos de los proyectos en los que he estado trabajando.</h4>
        <hr>

        <div class="row">
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="Computer Vision" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Redes Neuronales Convolucionales para darle vida a imágenes blanco y negro.</p>
                </div>
            </div>
            
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="Computer Vision" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Aumento de Resolución de imágenes de baja calidad.</p>
                </div>
            </div>
            
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="Robotics" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Dispositivo Low Cost de una Human Machine Interface (HMI) para controlar Robot Scara.</p>
                </div>
            </div>
            
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="Gaming" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Juegos lúdicos, didácticos y no convencionales con Procesamiento de Imágenes.</p>
                    </div>
            </div>
        </div>

        <div class="content">
            <img src="../resources/probando.png" alt="Computer Vision" style="width:100%">
            <h3>Estado: En Curso.</h3>
            <p>Actualmente estoy redactando un capítulo para un libro para ser presentado en el Congreso Argentino de Tecnología Aeroespacial. Un gran proyecto con personal de la NASA, Agencia Espacial Europea y entusiastas del espacio.</p>
        </div>
        
        <div class="content">
            <img src="../resources/probando.png" alt="Computer Vision" style="width:100%">
            <h3>Estado: En Curso.</h3>
            <p>Análisis predictivo de desgaste de carretera por Procesamiento de Imágenes.</p>
        </div>
        
        <div class="row">
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="Gaming" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Object Tracking para Human Machine Interface(HMI) como joystick.</p>
                </div>
            </div>
            
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="Computer Vision" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Object Recognition de distintas cepas de uva mendocina.</p>
                </div>
            </div>
            
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="Robotics" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Simulación de puesta en órbita de nanosatélite en el espacio.</p>
                </div>
            </div>
            
            <div class="column">
                <div class="content">
                    <img src="../resources/probando.png" alt="AI" style="width:100%">
                    <h3>Estado: Finalizado.</h3>
                    <p>Análisis predictivo incendio en función a datos crudos del Satélite Saocom.</p>
                    </div>
            </div>
        </div>

    <!-- END MAIN -->
    </div>
    
    <!--Footer-->
    <footer>Copyright © 2020 Carlos Bustillo. Todos los derechos reservados.</footer>

</html>

