<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../resources/logo.ico" />
        <title>HOME</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/home.css">
    
    </head>
    
    <header>    
        <!--Logo-->
        <nav class="logo">
            <div class="ventana1 inner">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">CARLOS BUSTILLO</a>
            </div>
            <div class="logoImage">
                 <img src="../resources/logoPrincipal.png" alt="logo" width="160px" height="80px"> 
            </div>
        </nav>
        
        <!--Ventanas-->
        <nav>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">Home</a> 
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_eventos.html" target="_self">Eventos</a>
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_resumen.html" target="_self">Resumen</a>
            </div>
            <div class="ventana1 outter">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_proyectos.html" target="_self">Proyectos</a>
            </div>
        </nav>
    </header>
    
    <!--Barra de contacto-->
    <address>
        <div class="barraContacto">
            <div class="socialNetwork"><a class= "enlace" href="mailto:cabustillo13" target="_blank" style="text-decoration:none; color:white">MAIL</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://www.linkedin.com/in/carlos-bustillo-74514b1b6/" target="_blank" style="text-decoration:none; color:white">LINKEDIN</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://github.com/cabustillo13" target="_blank" style="text-decoration:none; color:white">GITHUB</a></div>
        </div>
        <div class="barraContacto">
            <div class="socialNetwork"><a class= "enlace" href="https://medium.com/@carlosbustillo" target="_blank" style="text-decoration:none; color:white">MEDIUM</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://auth.geeksforgeeks.org/user/cabustillo13/articles" target="_blank" style="text-decoration:none; color:white">GEEK FOR GEEKS</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://www.lawebdelprogramador.com/codigo/usuario.php?id=358427" target="_blank" style="text-decoration:none; color:white">WEB PROGRAMADOR</a></div>
        </div>
    </address>
    
    <!--Acerca de mi-->
    <body>
        <div class="row">
        
            <div class="side">
                <img src="../resources/fotoCarnet.png" style="width:100%">
            </div>
            
            <div class="main">
                <h2>Soy Carlos Bustillo</h2>
                
                <p>Soy un estudiante avanzado en Ingeniería Mecatrónica que ama su carrera, tanto que se vino de Tegucigalpa, Honduras a Mendoza, Argentina para perseguir su sueño.</p>
                
                <p>Actualmente participo en las comunidades Open Source, Software Libre y Python de Latinoamérica. Considero que el intercambiar conocimiento nos hace crecer y mejorar como personas cada día.</p>
                
                <p>Siempre busco hacer un crossover con las distintas ramas de la Mecatrónica en  mi día a día para optimizar tiempos, cantidad de recursos y aumentar el rendimiento de las tareas.</p>
            </div>
        </div>
        
        <div class="miTrabajo">
            <p>Actualmente trabajo como Freelancer en Procesamiento de Imágenes e Inteligencia Artificial.</p>
            <p>He trabajado remotamente con distintas empresas en América Latina para resolver diversos problemas que han tenido sus empresas y también participar en la mejora continua de las mismas.</p>
        </div>
        
    </body>
    
    <!--Footer-->
    <footer>Copyright © 2020 Carlos Bustillo. Todos los derechos reservados.</footer>

</html>
