<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../resources/logo.ico" />
        <title>RESUMEN</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/resumen.css">
    
    </head>
    
    <header>    
        <!--Logo-->
        <nav class="logo">
            <div class="ventana1 inner">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">CARLOS BUSTILLO</a>
            </div>
            <div class="logoImage">
                 <img src="../resources/logoPrincipal.png" alt="logo" width="160px" height="80px"> 
            </div>
        </nav>
        
        <!--Ventanas-->
        <nav>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">Home</a> 
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_eventos.html" target="_self">Eventos</a>
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_resumen.html" target="_self">Resumen</a>
            </div>
            <div class="ventana1 outter">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_proyectos.html" target="_self">Proyectos</a>
            </div>
        </nav>
    </header>
    
    <!--Barra de contacto-->
    <address>
        <div class="barraContacto">
            <div class="socialNetwork"><a class= "enlace" href="mailto:cabustillo13" target="_blank" style="text-decoration:none; color:white">MAIL</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://www.linkedin.com/in/carlos-bustillo-74514b1b6/" target="_blank" style="text-decoration:none; color:white">LINKEDIN</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://github.com/cabustillo13" target="_blank" style="text-decoration:none; color:white">GITHUB</a></div>
        </div>
        <div class="barraContacto">
            <div class="socialNetwork"><a class= "enlace" href="https://medium.com/@carlosbustillo" target="_blank" style="text-decoration:none; color:white">MEDIUM</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://auth.geeksforgeeks.org/user/cabustillo13/articles" target="_blank" style="text-decoration:none; color:white">GEEK FOR GEEKS</a></div>
            <div class="socialNetwork"><a class= "enlace" href="https://www.lawebdelprogramador.com/codigo/usuario.php?id=358427" target="_blank" style="text-decoration:none; color:white">WEB PROGRAMADOR</a></div>
        </div>
    </address>
    
    <body>

        <h5 class="frase"> Presione en cada card para saber más sobre mí.</h5>
        <hr>
        
        <button class="collapsible">Mi Perfil Técnico</button>
        <div class="content">Desempeño en tareas relacionadas con la Mecánica, Electrónica, Control e Informática.</div>
        <br>
        
         <div class="row">
            <div class="column">
                <button class="collapsible">Herramientas</button>
                <div class="content">
                    <p>Lenguajes de programación: C/C++; Python; Matlab; Lua; Processing.</p>
                    <p>Herramientas como ser: HTML; CSS; Bootstrap.</p>
                    <p>Framework: Django.</p>
                    <p>Software de Simulación: RoboDK; Coppelia Sim; Atmel AVR; Twido; Proteus.</p>
                    <p>Notebooks: Jupyter-lab; Google Colab</p>
                    <p>Controlador de Versiones web: Github; Gitlab.</p>
                </div>
            </div>
            
            <div class="column">
                <button class="collapsible">Skills</button>
                <div class="content">
                    <p>Proactivo; Trabajo en Equipo; Responsabilidad.</p>
                </div>
            </div>
            
        </div><br>
        
        <button class="collapsible">Trabajos anteriores</button>
        <div class="content">
            <p>He trabajado remotamente con distintas empresas en América Latina para resolver diversos problemas que han tenido sus empresas y también participar en la mejora continua de las mismas. </p>
            <p>- Desarrollo de aplicaciones de escritorio para visualización de resultados de Procesamiento de Imágenes con diversas técnicas de Machine Learning y Deep Learning; Clasificación de Points Cloud de Objetos 3D.</p>
            <p>- Desarrollo de aplicación para Race Monitor, con implementación de distintos protocolos de timing para un Autódromo de Karting. Conexión de todos los sensores a una pantalla principal por TCP/IP.</p>
            <p>- Implementación de distintas técnicas de Procesamiento de Imágenes para evitar fraude de copyright y Tracking de las ventas de Ebooks para una Editorial.</p>
        </div><br>
        
        <button class="collapsible">Aspiraciones</button>
        <div class="content">Lograr realizar crossover con las distintas ramas de la Mecatrónica en  mi día a día para optimizar tiempos, cantidad de recursos y aumentar el rendimiento de las tareas.</div><br>
        
    </body>
    
    <!--Funciones de Javascript-->
    <script src="../scripts/barrasColapsables.js"></script> 
    
    <!--Footer-->
    <footer>Copyright © 2020 Carlos Bustillo. Todos los derechos reservados.</footer>

</html>

