<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../resources/logo.ico" />
        <title>PROYECTOS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    
    <header>    
        <!--Logo-->
        <nav class="logo">
            <div class="ventana1 inner">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">CARLOS BUSTILLO</a>
            </div>
            <div class="logoImage">
                 <img src="../resources/logoPrincipal.png" alt="logo" width="160px" height="80px"> 
            </div>
        </nav>
        
        <!--Ventanas-->
        <nav>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_home.html" target="_self">Home</a> 
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_eventos.html" target="_self">Eventos</a>
            </div>
            <div class="ventana1">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_resumen.html" target="_self">Resumen</a>
            </div>
            <div class="ventana1 outter">
                <a class="enlace" href="./potreroDigital_proyecto_grupo17_proyectos.html" target="_self">Proyectos</a>
            </div>
        </nav>
    </header>
    
    <address>
        <div class="barraContacto"></div>
        <div class="barraContacto"></div>
    </address>
    
    <body></body>
    
    <!--Footer-->
    <footer>Copyright © 2020 Carlos Bustillo. Todos los derechos reservados.</footer>

</html>

